
html, body {
    margin: 0;
    height: 100%;
}

.footer {
    background-color: #f5f5f5;
}

.inner-padded {
    padding-top: 5em; !important;
    padding-bottom: 5em; !important;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}