<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script th:src="@{/js/bootstrap.min.js}"></script>

<head>
    <meta charset="UTF-8">
    <title>Fake iTunes</title>
</head>

<body>
<div class=" d-flex flex-column">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/"><img alt="" style="width: 35px" th:src="@{/img/thymeleaf.png}"></a>

        <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarsExampleDefault" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Search</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class=" h-100 mt-5">
        <div class="container">

            <div class="display-4 mx-auto  mb-0  pt-3 w-50">Fake iTunes!</div>
            <div class="mx-auto w-50">Please don't sue us Apple.</div>
            <hr class="my-4">

            <! search bar>
            <form th:action="@{/view-search-result}"  method="post">
                <div class="input-group mx-auto w-50">

                    <input  class="form-control" placeholder="Search for track" th:value="*{term}" type="text" id="datePlanted" name="term"  required > <! this need to be changed! Handling error in html pages is not secure option>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                     </div>
                </div>
            </form>

            <! random attributes container>
            <div class="d-flex flex-row justify-content-between bd-highlight pt-3">

                <! 5 random tracks >
                <div class="card border-primary mb-3  mx-sm-3 mx-md-3 h-100" style="max-width: 18rem;">
                    <div class="card-header">Tracks</div>
                    <div class="card-body text-primary py-2 px-1 d-flex flex-wrap align-content-between">
                        <tr th:each="track: ${tracks}">
                            <p class="rounded-pill mx-1 mb-1 px-1 h-25 py-0 text-white bg-success"
                               th:text="${track.getName()}">< />
                        </tr>
                    </div>
                </div>

                <! 5 random genre>
                <div class="card border-primary mb-3  mx-sm-3 mx-md-3 h-100" style="max-width: 18rem;">
                    <div class="card-header">Genre</div>
                    <div class="card-body text-primary py-2 px-1 d-flex flex-wrap align-content-between">
                        <tr th:each="genre: ${genres}">
                            <p class="rounded-pill mx-1 mb-1 px-1 h-25 py-0 text-white bg-warning"
                               th:text="${genre}">< />
                        </tr>
                    </div>
                </div>

                <! 5 random albums>
                <div class="card border-primary mb-3  mx-sm-3 mx-md-3 h-100" style="max-width: 18rem;">
                    <div class="card-header">Albums</div>
                    <div class="card-body text-primary py-2 px-1 d-flex flex-wrap align-content-between">
                        <tr th:each="artist: ${artists}">
                            <p class="rounded-pill mx-1 mb-1 px-1 h-25 py-0 text-white bg-info"
                               th:text="${artist}">< />
                        </tr>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>