<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script th:src="@{/js/bootstrap.min.js}"></script>

<head>
    <meta charset="UTF-8">
    <title>Fake iTunes</title>
</head>

<body>
<div class=" d-flex flex-column">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/"><img alt="" style="width: 35px" th:src="@{/img/thymeleaf.png}"></a>

        <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarsExampleDefault" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Search</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class=" h-100 mt-5">
        <div class="container">

            <div class="display-4 mx-auto  mb-0  pt-3 w-50">Fake iTunes!</div>
            <div class="mx-auto w-50">Please don't sue us Apple.</div>
            <hr class="my-4">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Album</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Length (sec)</th>
                    <th scope="col">Price (USD)</th>
                    <th scope="col">Size (mb)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="track, index: ${tracks}">
                    <th scope="row" th:text="${index.index + 1}"></th>
                    <td th:text="${track.getName()}">< /td>
                    <td th:text="${track.getAlbum()}">< /td>
                    <td th:text="${track.getArtist()}">< /td>
                    <td th:text="${track.getGenre()}">< /td>
                    <td th:text="${track.getLength() / 1000}">sec< /td>
                    <td th:text="${track.getPrice()}">USD< /td>
                    <td th:text="${track.getSize() / 1000000 }")> mb< /td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
</body>

</html>